#aboutwrap
  .container
    .row
      .col-lg-6.col-lg-offset-3
        %h1 About
.container
  .row.centered.mt.mb
    .col-lg-8.col-lg-offset-2
      %h2 reSOUND
      %br
      %br
      %p Echo Park chambray vegan YOLO artisan, Etsy drinking vinegar before they sold out sartorial keffiyeh wolf cronut food truck taxidermy. Cornhole lomo umami next level Godard, deep v photo booth hella four loko Blue Bottle mixtape McSweeney's mlkshk banjo. Mumblecore aesthetic craft beer, cray Odd Future gentrify chambray Helvetica. Wolf Godard selvage readymade, pug vinyl High Life biodiesel +1 Kickstarter YOLO Intelligentsia scenester chillwave hella. Tofu kogi small batch ethical keffiyeh ennui. Intelligentsia cray Neutra tattooed master cleanse keffiyeh stumptown, trust fund asymmetrical meh pop-up 90's Austin. Migas gluten-free taxidermy hoodie twee.

      %hr
  
      %p Kale chips hoodie seitan, actually church-key Schlitz occupy food truck hella selfies post-ironic dreamcatcher. Crucifix church-key Vice, shabby chic PBR normcore lo-fi hoodie organic Brooklyn. Beard Odd Future chillwave, YOLO DIY messenger bag put a bird on it freegan deep v aesthetic. High Life distillery XOXO irony skateboard plaid. Whatever McSweeney's gluten-free retro. Post-ironic American Apparel viral actually Wes Anderson, readymade retro DIY. IPhone four loko tattooed butcher.

      %hr

      %p Twee skateboard sustainable readymade. Gluten-free Schlitz lo-fi brunch Thundercats, bespoke polaroid vegan aesthetic. Banksy keffiyeh freegan, disrupt polaroid synth forage selvage Blue Bottle gentrify cliche fingerstache tote bag Portland. Sustainable cornhole butcher pug farm-to-table narwhal, stumptown wayfarers. Vice narwhal Helvetica Truffaut heirloom 3 wolf moon, bicycle rights Thundercats authentic taxidermy meh. Banh mi semiotics try-hard, slow-carb selfies Schlitz Portland bespoke fingerstache kitsch lumbersexual McSweeney's. Irony chambray four dollar toast viral asymmetrical.

      %hr

      %p 90's Intelligentsia freegan tote bag, Pinterest seitan listicle sustainable twee Godard craft beer farm-to-table salvia raw denim. Retro bitters four dollar toast fap McSweeney's keffiyeh. Slow-carb jean shorts Shoreditch put a bird on it authentic brunch organic Wes Anderson, Thundercats pickled aesthetic single-origin coffee you probably haven't heard of them. Bespoke PBR 8-bit Truffaut squid, Bushwick butcher Carles meggings Kickstarter hoodie. Cardigan irony photo booth Echo Park church-key lumbersexual. Post-ironic mumblecore Williamsburg Intelligentsia, irony tote bag fap hashtag Pitchfork iPhone sartorial skateboard. Shabby chic VHS art party jean shorts kitsch.