// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'baron-neue-black-italic';
  src:url(asset-path('baron-neue-black-italic.otf'));
  font-weight: normal;
  font-style: normal;
}

img.spotify-artist-image {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  opacity: .7;
  display: block;
  margin: auto;
}