// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'baron-neue-black-italic';
  src:url(asset-path('baron-neue-black-italic.otf'));
  font-weight: normal;
  font-style: normal;
}

img.spotify-artist-image {
  // height: 1050px; 
  width: 100%;
  margin-top: -20px;
  padding-top: 250px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 550px;
  width: 100%;
  opacity: .7;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}