// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'baron-neue-black-italic';
  src:url(asset-path('baron-neue-black-italic.otf'));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:url(asset-path('montserrat_regular.ttf'));
  font-weight: normal;
  font-style: normal;
}



// $related-artists-color: rgba(gray, 0.5);

img.spotify-artist-image {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  width: 50%;
  height: 50%;
  opacity: .7;
  display: block;
  margin: auto;
}

// .related-container {
//   position: relative;
// }

// img.related-artist-image-background {
//   width: 200px;
//   height: 200px;
//   opacity: .8;
//   display: block;
//   margin: auto;
//   position: absolute;
//   z-index: 1
// }


// img.related-artist-image {
//   width: 180px;
//   height: 180px;
//   background: transparentize(gray, .9);
//   border-radius: 50%;
//   opacity: .5;
//   display: block;
//   margin: auto;
// }



img.spotify-listen {
  max-height: 50%;
  max-width: 50%;
  width:100px;
  height:27px;
}